<div id="typewriter" class="container overflow-y-scroll h-full mx-auto w-2/3 p-6">

<section>
  <h1>Tu veux savoir à quel point ton Spotify est chouette ?</h1>
  <p>Attends un poil, que j'analyse un peu tout ça</p>
  <p>Je suis un petit programme d'IA</p>
  <p>J'ai pour unique but de mettre un peu de douceur dans ta journée</p>
<br>
  <p>Mais <strong>avant toute chose</strong>, dis moi</p>
  <p>Comment vas tu <strong>vraiment</strong>, là tout de suite ?</p>
  <div class="flex justify-end">
    <div class="flex justify-between w-2/5">
      <div id="" class="flex flex-col items-center p-2 border-2 border-black border-opacity-70 rounded-lg">
        <p>Au top du pop</p>
      </div>
      <div id="" class="flex flex-col items-center p-2 border-2 border-black border-opacity-70 rounded-lg">
        <p>Bah.. pas si ouf</p>
      </div>
    </div>
  </div>
</section>


<% if @top_artists.empty? %>
  <h2>Tu n'as aucune musique sur ton Spotify, n'hésite pas à plus l'utiliser !</h2>

<% else %>
  <section>
    <p>Ohhhhh !</p>
    <p>Sérieuuux ?</p>
    <p>Mais nan haha</p>
    <% thas = @top_artists.sample %>
    <% delete_element(@top_artists, thas) %>
    <p>Tu écoutes aussi <strong><%= thas.name %></strong> ??</p>
    <p>Franchement, c'est archi cool je trouve!</p>
  <br>
    <% this = @top_artists.sample %>
    <% delete_element(@top_artists, this) %>
    <p>Entre nous, <strong><%= this.name %></strong>, meilleure musique <%= this.genres[0] %> du monde, nan ?</p>
  <br>
    <% that = @top_tracks.sample %>
    <p>Alleeeez !</p>
    <p>En vrai, <em><%= that.album.name %></em> de <strong><%= that.album.artists[0].name %></strong>, best album de <%= that.album.release_date.slice(0..3) %> !</p>
  <br>
    <% thot = @top_tracks.sample %>
    <p>Ah, je te reconnais bien là</p>
    <p>Fin.e connaisseur.se de <%= thot.artists[0].genres[0] %> héhé</p>
    <p>Comment tu as découvert <strong><%= thot.artists[0].name %></strong> ?</p>
  <br>
  </section>

  <%= render 'shared/game' %>

  <section>
    <% recently = @recently_played.sample %>
    <p>C'est marrant que t'écoutes <%= recently.name %> !</p>
    <p>J'écoutais justement un peu de <%= recently.artists[0].genres[0] %> !</p>
  <br>
    <p>T'as déjà écouté <%= @most_underground[3].name %> ?</p>
    <p>Who, pourtant y'en a pas grand monde qui connait !</p>
    <p>Bravo pour ton ouverture d'oreille 🤗</p>
  <br>
    <p>Au vu de ce que tu écoutes, tu retournerai bien en <%= @stuck_years %> ! </p>
    <p>Tu m'étonnes, y'a quand même eu l'album de <%= @stuck_years_artist %> </p>
  <br>
    <% if @original_complex < 51 %>
      <p>Whawww je suis bluffé !</p>
      <p>Ton Spotify est composé à <%= (100 - @original_complex) %>% de contenu original !</p>
      <p>Bravo!</p>
      <p>Où trouves-tu toute cette inspiration ?</p>
      <p>J'espère que tu partages tes découvertes ! </p>
    <% end %>
  <br>
  </section>

<!--   <div class="flex">

    <div class="flex-auto">
      You recenlty played :
      <% @recently_played.each do |song| %>
        <li><%= song.name %></li>
      <% end %>
    </div>
    <div class="flex-auto">
      Your top tracks are :
      <% @top_tracks.each do |song| %>
        <li><%= song.name %></li>
      <% end %>
    </div>

    <div class="flex-auto">
      Your top artists are :
      <% @top_artists.each do |artist| %>
        <li><%= artist.name %> (<%= artist.popularity %>)</li>
      <% end %>
    </div>
  </div> -->

<br>
<!--   <center><p>Your underground tastes</p></center>
  <div class="flex">
    <div class="flex-auto">
      The least popular tracks among your recent tracks :
      <% @underground_recent.each do |song| %>
        <% if song.popularity < 51 %>
          <li><%= song.name %> (<%= song.popularity %>)</li>
        <% end %>
      <% end %>
    </div>
    <div class="flex-auto">
      The least popular tracks among your top :
      <% @underground_tracks.each do |song| %>
        <% if song.popularity < 51 %>
          <li><%= song.name %> (<%= song.popularity %>)</li>
        <% end %>
      <% end %>
    </div>
    <div class="flex-auto">
      The least popular artists among your top :
      <% @underground_artists.each do |artist| %>
        <% if artist.popularity < 51 %>
          <li><%= artist.name %> (<%= artist.popularity %>)</li>
        <% end %>
      <% end %>
    </div>

  </div> -->
<% end %>


</div>
