<div class="container mx-auto p-10 typewriter">
  <center><h1>A quel point ton Spotify est chouette ?</h1></center>
<% if @top_artists.empty? %>
  <h2>Tu n'as aucune musique sur ton Spotify, n'hésite pas à plus l'utiliser !</h2>
<% else %>
<!--   <h2>Ohhhhh !</h2>
  <% thas = @top_artists.sample %>
  <% delete_element(@top_artists, thas) %>
  <h2>Mais tu écoutes aussi <%= thas.name %> ?? Franchement, trop bon goût, c'est archi cool jtrouve!</h2>
<br>
  <% this = @top_artists.sample %>
  <% delete_element(@top_artists, this) %>
  <h2>Entre nous, <%= this.name %>, c'est la meilleure musique <%= this.genres[0] %> du monde, nan ?</h2>
<br>
  <% that = @top_tracks.sample %>
  <h2>Alleeeez ! <%= that.album.name %> de <%= that.album.artists[0].name %>, clairement meilleur album de <%= that.album.release_date.slice(0..3) %> !</h2>
<br>
  <% thot = @top_tracks.sample %>
  <h2>Je vois que tu es fin.e connaisseur.se de <%= thot.artists[0].genres[0] %> héhé</h2>
  <h2>Comment tu as découvert <%= thot.artists[0].name %> ?</h2> -->
<%= render 'shared/game' %>
<!--   <% recently = @recently_played.sample %>
  <h2>C'est marrant que t'écoutes <%= recently.name %> !</h2>
  <h2>J'écoutais justement un peu de <%= recently.artists[0].genres[0] %> !</h2>
<br>
  <h2>T'as déjà écouté <%= @most_underground[3].name %> ?</h2>
  <h2>Who, pourtant y'en a pas tant que ça des happy few qui connaissent cette perle !</h2>
  <h2>Bravo pour ton ouverture d'oreille 🤗</h2>
<br>
  <h2>Au vu de ce que tu écoutes, tu retournerai bien en <%= @stuck_years %> ! </h2>
  <h2>Tu m'étonnes, y'a quand même eu l'album de <%= @stuck_years_artist %> </h2>
<br>
  <% if @original_complex < 51 %>
  <h2>Whawww je suis bluffé !</h2>
  <h2>Ton Spotify est composé à <%= (100 - @original_complex) %>% de contenu original !</h2>
  <h2>Où trouves-tu toute cette inspiration ? J'espère que tu fais tourner à tes proches...</h2> -->
  <% end %>
<br>

  <div class="flex">

    <div class="flex-auto">
      You recenlty played :
      <% @recently_played.each do |song| %>
        <li><%= song.name %></li>
      <% end %>
    </div>
    <div class="flex-auto">
      Your top tracks are :
      <% @top_tracks.each do |song| %>
        <li><%= song.name %></li>
      <% end %>
    </div>

    <div class="flex-auto">
      Your top artists are :
      <% @top_artists.each do |artist| %>
        <li><%= artist.name %> (<%= artist.popularity %>)</li>
      <% end %>
    </div>
  </div>

<br>
  <center><h2>Your underground tastes</h2></center>
  <div class="flex">
    <div class="flex-auto">
      The least popular tracks among your recent tracks :
      <% @underground_recent.each do |song| %>
        <% if song.popularity < 51 %>
          <li><%= song.name %> (<%= song.popularity %>)</li>
        <% end %>
      <% end %>
    </div>
    <div class="flex-auto">
      The least popular tracks among your top :
      <% @underground_tracks.each do |song| %>
        <% if song.popularity < 51 %>
          <li><%= song.name %> (<%= song.popularity %>)</li>
        <% end %>
      <% end %>
    </div>
    <div class="flex-auto">
      The least popular artists among your top :
      <% @underground_artists.each do |artist| %>
        <% if artist.popularity < 51 %>
          <li><%= artist.name %> (<%= artist.popularity %>)</li>
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>


</div>
