<p>Viens on joue à un jeu ! Qui de l'oeuf ou de la poule ?</p>
<p>Qu'est-ce que tu as découvert en preums ?</p>
<% jeu1 = @top_tracks[12] %>
<div class="flex justify-end">
  <div class="flex justify-between w-2/5">
    <div id="toggle_pick1a" class="flex flex-col items-center hvr-skew-forward p-3 border-2 border-dashed border-black border-opacity-100 rounded-lg shadow-inner-xl">
      <p><%= jeu1.name %></p>
      <img src="<%= jeu1.album.images[2]["url"] %>" class="rounded-lg h-20">
    </div>
    <div class="flex flex-col items-center justify-center">
      <p>OU</p>
    </div>
    <div id="toggle_pick1b" class="flex flex-col items-center hvr-skew-backward p-3 border-2 border-dashed border-black border-opacity-100 rounded-lg shadow-inner-xl">
      <p><%= jeu1.artists[0].name %></p>
      <img src="<%= jeu1.artists[0].images.last["url"] %>" class="rounded-lg h-20">
    </div>
  </div>
</div>

<p>Forcémeeeeent hahah </p>
<p>Encore ! </p>
<% jeu2 = @top_tracks[7] %>
<div class="flex justify-end">
  <div class="flex justify-between w-2/5">
    <div id="toggle_pick2a" class="flex flex-col items-center hvr-wobble-top p-3 border-2 border-dashed border-black border-opacity-100 rounded-lg shadow-inner-xl">
      <p><%= jeu2.name %></p>
      <img src="<%= jeu2.album.images[2]["url"] %>" class="rounded-lg h-20">
    </div>
    <div class="flex flex-col items-center justify-center">
      <p>OU</p>
    </div>
    <div id="toggle_pick2b" class="flex flex-col items-center hvr-wobble-top border-2 p-3 border-dashed border-black border-opacity-100 rounded-lg shadow-inner-xl">
      <p><%= jeu2.artists[0].name %></p>
      <img src="<%= jeu2.artists[0].images.last["url"] %>" class="rounded-lg h-20">
    </div>
  </div>
</div>

<p>Ah ben tiens ! Tout pareil héhé </p>
<p>Un ptit dernier pour la route !</p>
<% jeu3 = @top_tracks[18] %>
<div class="flex justify-end">
  <div class="flex justify-between w-2/5">
    <div id="toggle_pick3a" class="flex flex-col items-center hvr-wobble-top p-3 border-2 border-dashed border-black border-opacity-100 rounded-lg shadow-inner-xl">
      <p><%= jeu3.name %></p>
      <img src="<%= jeu3.album.images[2]["url"] %>" class="rounded-lg h-20">
    </div>
    <div class="flex flex-col items-center justify-center">
      <p>OU</p>
    </div>
    <div id="toggle_pick3b" class="flex flex-col items-center hvr-wobble-top p-3 border-2 border-dashed border-black border-opacity-100 rounded-lg shadow-inner-xl">
      <p><%= jeu3.artists[0].name %></p>
      <img src="<%= jeu3.artists[0].images.last["url"] %>" class="rounded-lg h-20">
    </div>
  </div>
</div>

<p>Bien joué bg ! </p>
