<div id="btn-stats" class="hidden btn rounded w-96 mx-auto -ml-10">
  <p class="text-green"><i class="fab fa-spotify text-lg"></i> Découvre toutes tes stats</p>
</div>

<section id="allezla" class="hidden">
<br>
  <p>Alors zéparti zéparti</p>
<br>
  <p>Des grand.e.s artistes te remercient d'autant les écouter : </p>
  <ul class="list-inside list-disc pl-6">
    <% @top_artists[0..4].each_with_index do |artist, i| %>
      <li class="<%= @color_array[i] %>"><%= artist.name %></li>
      <!--  ce serait fou que chaque titre soit d'une couleur différente -->
    <% end %>
  </ul>
<br>
  <p>Tu les écoutes bokou et c'est trop cool </p>
  <ul class="list-inside list-disc pl-6">
    <% @top_tracks[0..4].each_with_index do |song, i| %>
        <li class="<%= @color_array[i < 2 ? (i + 5) : (i - 2)] %>"><em><%= song.name %></em> de <strong><%= song.artists[0].name %></strong></li>
        <!--  ce serait fou que chaque nom d'auteurs soit d'une couleur différente -->
    <% end %>
  </ul>
<br>
  <p>On me dit dans l'oreillette que tu as fait de chouettes découvertes récemment </p>
  <ul class="list-inside list-disc pl-6">
    <% @recently_played[0..4].each_with_index do |song, i| %>
      <li class="<%= @color_array[i < 4 ? (i + 3) : (i - 4)] %>"><em><%= song.name %></em></li>
      <!--  ce serait fou que chaque titre soit d'une couleur différente -->
    <% end %>
  </ul>
<br>
  <p>Je te le disais tout à l'heure</p>
  <p>Tu es quelqu'un d'<span class="text-lavander">o</span><span class="text-lilac">r</span><span class="text-peach">i</span><span class="text-coral">g</span><span class="text-apricot">i</span><span class="text-pea">n</span><span class="text-baby-blue">a</span><span class="text-lavander">l</span></p>
  <p>Tu es aussi un avant gardiste</p>
<br>
  <p>Voilà tes artistes prefs qui mériteraient d'être plus <span class="text-lilac">connus</span> :</p>
  <ul class="list-inside list-disc pl-6">
    <% @underground_artists[0..4].each do |artist| %>
      <% if artist.popularity < 51 %>
        <li><%= artist.name %> <em>(popularité : <%= artist.popularity %>/100)</em></li>
      <% end %>
    <% end %>
  </ul>
<br>
  <p>Y'a aussi ces quelques sons, si tu continues à autant les écouter</p>
  <p>ils finiront forcément par <span class="text-peach">décoller</span> !</p>
  <ul class="list-inside list-disc pl-6">
    <% @underground_tracks[0..4].each do |song| %>
      <% if song.popularity < 51 && song.popularity != 0%>
        <li><%= song.name %> <em>(popularité : <%= song.popularity %>/100)</em></li>
      <% end %>
    <% end %>
  </ul>
<br>
  <p>Tu viens de dénicher ces <span class="text-coral">pépites</span> encore inconnues</p>
  <ul class="list-inside list-disc pl-6">
  <% @underground_recent[0..3].each do |song| %>
      <% if song.popularity < 51 %>
        <li><%= song.name %> <em>(popularité : <%= song.popularity %>/100)</em></li>
      <% end %>
    <% end %>
  </ul>
  <p>Ta <span class="text-apricot">mission</span>, si tu l'acceptes et de faire <span class="text-pea">partager</span> ces perles</p>
<br>

  <p>Quant à moi, ma <span class="text-baby-blue">mission</span> s'arrête ici</p>
  <% time_end = Time.now %>
  <p>J'ai passé <span class="font-bold text-lavander"><%= ((time_end - @time_begin) * 10000).round %></span> délicieuses millisecondes à analyser les statistiques de ton Spotify !</p>
  <p><span class="text-xl"><span class="text-lavander">M</span><span class="text-lilac">e</span><span class="text-peach">r</span><span class="text-coral">c</span><span class="text-apricot">i</span></span> pour ce moment ✨</p>
<br>
  <p>J'espère que tu as également apprécié ma <em>compagnie</em></p>
  <p>N'hésite pas à me partager avec des copains si tu as <em>aimé</em> l'expérience !</p>
<br>
  <p>Bonne journée, prends soin de toi 🍀</p>
  <p class="text-xl"><span class="text-pea">B</span><span class="text-baby-blue">i</span><span class="text-lavander">s</span><span class="text-lilac">o</span><span class="text-peach">u</span><span class="text-coral">s</span> <span class="text-apricot">à</span> <span class="text-pea">t</span><span class="text-baby-blue">o</span><span class="text-lavander">i</span></p>
</section>
